<!DOCTYPE html>
<html lang="en">
<head>
  <style type ="text/css" >
   .footer {
       position: fixed;
       bottom: 0px;
       width: 100%;
   }
  </style>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
  {% block content %}
  {% endblock %}
  <div class="footer">
    <p>©{% now "Y" %}</p>
    <p>All Rights Reserved</p>
  </div>
</body>
</html>