{% extends "base.html" %}

{% block content %}

<div class="sidenav">
      <a href="{% url 'book_list' %}">Main</a>
      <a href="{% url 'request_list' %}">Requests</a>
      <a href="{% url 'changes_list' %}">Info Logger</a>
      <a href="http://{{ request.get_host }}/admin/">Admin Page</a>
</div>

<div class="main">

  <h1>Delete Book</h1>
  <p>Are you sure you want to delete the book: <strong>{{ book.title }}</strong> ?</p>
  <form action="" method="POST">
    {% csrf_token %}
    <input type="submit" action="" value="Yes, delete." />
  </form>
</div>
{% endblock %}