{% extends "base.html" %}

{% block content %}

<div class="sidenav">
      <a href="{% url 'book_list' %}">Main</a>
      <a href="{% url 'request_list' %}">Requests</a>
      <a href="{% url 'changes_list' %}">Info Logger</a>
      <a href="http://{{ request.get_host }}/admin/">Admin Page</a>
</div>

<div class="main">
    <h1>Add new book</h1>
        <form method="POST" class="book-form">{% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Save</button>
        </form>
</div>
{% endblock %}