{% extends "base.html" %}

{% block content %}

  <div class="sidenav">
      <a href="{% url 'book_new' %}">Add new book</a>
      <a href="{% url 'request_list' %}">Requests</a>
      <a href="{% url 'changes_list' %}">Info Logger</a>
      <a href="http://{{ request.get_host }}/admin/">Admin Page</a>
  </div>


  <div class="main">
      <h1>Library</h1>
      {% if book_list %}

      <p>Order your book list:</p>
      <a href="{% url 'book_list' %}">Without ordering</a>
      <a href="{% url 'book_list' %}?order=latest">Latest on the top</a>
      <a href="{% url 'book_list' %}?order=oldest">Oldest on the top</a>
      <p>Books list:</p>
      <ul>
          {% for book in book_list %}
          <li>Title: <strong>{{ book.title }}</strong>, Author <strong>{{ book.author }}</strong> <strong>Price </strong>: {{ book.price }}, <strong>isbn</strong>: {{ book.isbn }}
              <a href="{% url 'book_edit' book.id %}">Edit</a>
              <a href="{% url 'book_delete' book.id %}">Delete</a>
          </li>
          {% endfor %}
      </ul>
      {% else %}
          <p>There are no books in the library.</p>
      {% endif %}
  </div>

{% endblock %}