{% extends "base.html" %}

{% block content %}

  <div class="sidenav">
      <a href="{% url 'book_list' %}">Main</a>
      <a href="{% url 'book_new' %}">Add new book</a>
      <a href="{% url 'request_list' %}">Requests</a>
      <a href="{% url 'changes_list' %}">Info Logger</a>
      <a href="http://{{ request.get_host }}/admin/">Admin Page</a>
  </div>


  <div class="main">
      <h1>Last 10 Changes</h1>
      {% if crudevent_list %}
      <ul>
          {% for event in crudevent_list %}
          <li> Action: <strong>{{ event.get_event_type_display }}, </strong>
               Object id: <strong>{{ event.object_id }}, </strong>
               Date of action: <strong>{{ event.datetime }}</strong>
          </li>
          {% endfor %}
      </ul>
      {% endif %}
  </div>

{% endblock %}