{% extends "base.html" %}

{% block content %}

  <div class="sidenav">
      <a href="{% url 'book_list' %}">Main</a>
      <a href="{% url 'book_new' %}">Add new book</a>
      <a href="{% url 'request_list' %}">Requests</a>
      <a href="{% url 'changes_list' %}">Info Logger</a>
      <a href="http://{{ request.get_host }}/admin/">Admin Page</a>
  </div>


  <div class="main">
      <h1>Last 10 Requests</h1>
      {% if requestevent_list %}
      <ul>
          {% for request in requestevent_list %}
          <li>[{{ request.datetime }}] {{ request.method }} {{ request.url }} {{ request.remote_ip }}</li>
          {% endfor %}
      </ul>
      {% endif %}
  </div>

{% endblock %}